<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group groupName="layoutService">
        <pipelines>
          <getRenderingEngineViewBag>
            <processor type="Altola.JssBootcamp.SitecoreJssServerExtensions.NavBar.Pipelines.GetRenderingEngineViewBag.AddNavBarContent, Altola.JssBootcamp.SitecoreJssServerExtensions" resolve="true" />
          </getRenderingEngineViewBag>
          <getLayoutServiceContext>
            <processor type="Sitecore.JavaScriptServices.ViewEngine.LayoutService.Pipelines.GetLayoutServiceContext.RenderStaticItemProcessor, Sitecore.JavaScriptServices.ViewEngine" resolve="true">
              <Item>{64319FB7-FD38-413C-A30A-105CBEAFF415}</Item>
              <ContextKey>global</ContextKey>
              <!--<Applications hint="list">
                <app id="1">JssReactWeb</app>
              </Applications>-->
              <RunWhenNoItemResolved>true</RunWhenNoItemResolved>
            </processor>

            <processor type="Altola.JssBootcamp.SitecoreJssServerExtensions.Pipelines.GetLayoutServiceContext.MembershipProcessor, Altola.JssBootcamp.SitecoreJssServerExtensions" resolve="true">
              <AllowedConfigurations hint="list">
                <jss>jss</jss>
              </AllowedConfigurations>
              <!--<Applications hint="list">
                <jssreactstarter>jssreactstarter</jssreactstarter>
              </Applications>-->
              <!--<Routes hint="list">
                -->
              <!-- Restrict the route items for which this processor will execute. IDs, item paths, and wildcard item paths are allowed. -->
              <!--
                <services>/sitecore/content/jssreactstarter/home*</services>
                <portfolio>{BAD2C001-1746-4312-8422-B28806A1191E}</portfolio>
              </Routes>-->
            </processor>
            <processor type="Altola.JssBootcamp.SitecoreJssServerExtensions.Pipelines.GetLayoutServiceContext.BreadcrumbProcessor, Altola.JssBootcamp.SitecoreJssServerExtensions" resolve="true">
              <AllowedConfigurations hint="list">
                <jss>jss</jss>
              </AllowedConfigurations>
              <!--<Applications hint="list">
                <jssreactstarter>jssreactstarter</jssreactstarter>
              </Applications>-->
              <!--<Routes hint="list">
                -->
              <!-- Restrict the route items for which this processor will execute. IDs, item paths, and wildcard item paths are allowed. -->
              <!--
                <services>/sitecore/content/jssreactstarter/home*</services>
                <portfolio>{BAD2C001-1746-4312-8422-B28806A1191E}</portfolio>
              </Routes>-->
            </processor>
          </getLayoutServiceContext>
        </pipelines>
      </group>
    </pipelines>
    <api>
      <GraphQL>
        <endpoints>
          <master url="/sitecore/api/graph/items/master">
            <extenders hint="list:AddExtender">
              <example type="Altola.JssBootcamp.SitecoreJssServerExtensions.GraphQL.GraphQLExtenders, Altola.JssBootcamp.SitecoreJssServerExtensions" resolve="true" />
            </extenders>
          </master>
        </endpoints>
      </GraphQL>
    </api>
  </sitecore>
</configuration>