<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GraphQL" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="Sitecore.JavaScriptServices.Configuration" version="13.0.0" targetFramework="net472" />
  <package id="Sitecore.JavaScriptServices.GraphQL" version="13.0.0" targetFramework="net472" />
  <package id="Sitecore.JavaScriptServices.ViewEngine" version="13.0.0" targetFramework="net472" />
  <package id="Sitecore.Kernel" version="9.2.0" targetFramework="net472" />
  <package id="Sitecore.LayoutService" version="5.0.0" targetFramework="net472" />
  <package id="Sitecore.Mvc" version="9.2.0" targetFramework="net472" />
  <package id="Sitecore.Services.GraphQL" version="1.1.4" targetFramework="net472" />
  <package id="Sitecore.Services.GraphQL.ContentSchema" version="1.1.4" targetFramework="net472" />
  <package id="Sitecore.Services.GraphQL.NetFxHost" version="1.1.4" targetFramework="net472" />
</packages>